
.color-pink ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ff4081;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(17vh);
    -moz-transform: translateX(-50%) translateY(17vh);
    -webkit-transform: translateX(-50%) translateY(17vh);
}