<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light border rounded">
                <app-parcoords></app-parcoords>
            </div>
        </div>
        <div class="col-md-5">
            <div   style="background-color: #aadaff!important" class="bg-light border rounded">
                <app-map></app-map>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-light border rounded">
                <app-medal-conf></app-medal-conf>
            </div>
        </div>
    </div>
    <div class="row mt-4">

    </div>
<!--
    
    <div class="row">
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-medal-chart></app-medal-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-second-chart></app-second-chart>
    
            </div>
        </div>    
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-medal-conf></app-medal-conf>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-medal-region-chart></app-medal-region-chart>
            </div>
        </div>
    </div>

-->
</div>
<router-outlet></router-outlet>
