.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }
  
  .item-box {
    padding: 15px;
    max-height: 100%;
    height: 100%;
  }

div.scroll
{
height:"100%";
margin: "10px";
overflow:scroll;
float: "none";
}

