<div class="item-box scroll items-bg rounded" style="height: 28vh;">
    <p class="text-center">Settings</p>
    <div class="row">
        <div class="col-md-4">


            <mat-form-field class="search-full-width">
                <input type="text" placeholder="Type to select countries..." aria-label="Select Countries" matInput
                    [matAutocomplete]="auto_country" [formControl]="countryControl">
                <mat-hint class="mat-custom-light">Enter text to find countries</mat-hint>
            </mat-form-field>

            <mat-autocomplete #auto_country="matAutocomplete" [displayWith]="displayCountryFn.bind(this)">
                <mat-option *ngFor="let c of filteredCountries | async" [value]="selectedCountry">
                    <div (click)="optionCountryClicked($event, c)">
                        <mat-checkbox [checked]="c.isChecked" (change)="toggleSelectionCountry(c)"
                            (click)="$event.stopPropagation()">
                            {{ c.name }}
                        </mat-checkbox>
                    </div>
                </mat-option>
            </mat-autocomplete>
            <br>


            <mat-form-field class="search-full-width">
                <input type="text" placeholder="Type to select sports..." aria-label="Select Sports" matInput
                    [matAutocomplete]="auto_sport" [formControl]="sportControl">
                <mat-hint class="mat-custom-light">Enter text to find sports by name</mat-hint>
            </mat-form-field>

            <mat-autocomplete #auto_sport="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let sport of filteredSports | async" [value]="selectedSports">
                    <div (click)="optionClicked($event, sport)">
                        <mat-checkbox [checked]="sport.isChecked" (change)="toggleSelection(sport)"
                            (click)="$event.stopPropagation()">
                            {{ sport.name }}
                        </mat-checkbox>
                    </div>
                </mat-option>
            </mat-autocomplete>

            <div class="row pt-3">
                <div class="custom-ngx-slider">
                    <ngx-slider [(value)]="yearRange[0]" [(highValue)]="yearRange[1]" [options]="sliderOptions"
                        (userChangeEnd)="onYearSliderChange($event)"></ngx-slider>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <!-- <form [formGroup]="formConf" (ngSubmit)="submit()">-->
                <div class="form-group">
                    <div class="form-check">
                        <div *ngFor="let medal of medalsList">
                            <div class="row">
                                <div class="col-md-3" style="margin-top:2vh;">


                                    <mat-checkbox class="mat-custom-light" name="medal.name" [checked]="medal.isChecked" [(ngModel)]="medal.isChecked" (click)="$event.stopPropagation()" (change)="onMedalsCheckboxChange(medal)">
                                        {{medal.name}}
                                    </mat-checkbox>
                                    <!-- <input class="form-check-input" [checked]="medal.isChecked" type="checkbox"
                                        [value]="medal.id" (change)="onMedalsCheckboxChange($event)" />
                                    <label class="form-check-label">
                                        {{medal.name}}
                                    </label>-->
                                </div>
                                <div class="col-md-9">
                                    <mat-form-field appearance="fill" style="width: 70px;">
                                        <!-- <mat-label>Insert {{medal.name}} weight</mat-label> -->
                                        <input (keypress)="numberOnly($event, medal)" [(ngModel)]="medal.weight"
                                            [ngModelOptions]="{standalone: true}" [disabled]="!medal.isChecked"
                                            type="text" matInput placeholder="weight">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
        </div>

        <div class="col-md-4">

            <div class="row pt-3">
                <div>
                    <mat-slide-toggle [checked]="isMedalsByPop" (change)=onSlideTogglePopChanged($event)>by Population
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle [checked]="isMedalsByGdp" (change)=onSlideToggleGdpChanged($event)>
                        by GDP per capita</mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle [(ngModel)]="isNormalize">
                        Normalize data</mat-slide-toggle>
                </div>
            </div>

            <div class="row pt-3">
                <mat-checkbox class="mat-custom-light" name="'male'" [(ngModel)]="isMaleChecked" [checked]="isMaleChecked" (click)="$event.stopPropagation()">
                    Male
                </mat-checkbox>
                <mat-checkbox class="mat-custom-light" name="'female'" [(ngModel)]="isFemaleChecked" [checked]="isFemaleChecked" (click)="$event.stopPropagation()">
                    Female
                </mat-checkbox>
            </div>


            <button type="button" [disabled]="!actionsEnabled" class="btn btn-primary" (click)="submit()">Update</button>
        </div>
    </div>


</div>