<div id="div_legend">
    <div class="row">
        <p class="text-center" style="font-size: 16px;margin-top: 0.8vh!important;margin-bottom: 0.2vh!important;">
            Continents
        </p>
        <div class="col-md-12 text-center">
            <span class="badge" style="background-color:#1DA1F2; margin: 0.5vh; font-size: 1.5vh">Europe</span>
            <span class="badge" style="background-color:#FFD100; margin: 0.5vh; font-size: 1.5vh">Asia</span>
            <span class="badge" style="background-color:#9146FF; margin: 0.5vh; font-size: 1.5vh">Africa</span>
            <span class="badge" style="background-color:#1f993e; margin: 0.5vh; font-size: 1.5vh">America</span>
            <!-- <span class="badge" style="background-color:#523200; margin: 0.5vh; font-size: 1.5vh">South America</span> -->
            <span class="badge" style="background-color:#ff4500; margin: 0.5vh; font-size: 1.5vh">Oceania</span>
        </div>
    </div>
    <div class="row">
        <p class="text-center" style="font-size: 16px;margin-top: 0.8vh!important;margin-bottom: 0.2vh!important;">
            Heatmap
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="badge" style="width: 80%; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,189,182,1) 12.5%, rgba(220,164,157,1) 25%, rgba(202,140,132,1) 37.5%, rgba(184,116,108,1) 50%, rgba(166,93,85,1) 62.5%, rgba(147,69,63,1) 75%, rgba(128,46,42,1) 87.5%, rgba(109,19,23,1) 100%); font-size: 1.5vh">
                <span style="float: left; color: rgba(109,19,23,1);">
                    low
                </span>    

                <span style="float: right;">
                    high
                </span>    
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="badge" style="background-color:#46424d; margin: 0.5vh; font-size: 1.5vh">No participation</span>
            <span class="badge" style="background-color:#9b9b9b; margin: 0.5vh; font-size: 1.5vh">Missing data</span>    
        </div>
    </div>



</div>
