<div class="container-fluid">
    <div class="row autoHeight heightLine1">
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="rounded items-bg autoHeight heightLegend">
                    <app-legend></app-legend>
                </div>    
            </div>
            <div class="col-md-12">
                <div class="rounded items-bg">
                    <app-medal-chart></app-medal-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding:0;">
            <div class="rounded items-bg">
                <app-scatterplot></app-scatterplot>
            </div>    

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="rounded items-bg">
                        <app-conf></app-conf>
                    </div>    
                </div>
                <div class="col-md-12">
                    <div style="background-color: #607f97!important" class="rounded bg-light">
                        <app-map></app-map>
                    </div>
        
                </div>
    
            </div>
        </div>
    </div>
    <div class="row autoHeight heightLine2 ">
        <!-- <div class="col-md-4">
            <div class="bg-light border rounded">
                <app-medal-region-chart></app-medal-region-chart>
            </div>
        </div> -->
        <div class="col-md-12">
            <div class="rounded items-bg">
                <app-parcoords></app-parcoords>
            </div>
        </div>
    </div>
<!--
    
    <div class="row">
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-medal-chart></app-medal-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-second-chart></app-second-chart>
    
            </div>
        </div>    
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-medal-conf></app-medal-conf>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container bg-light border rounded">
                <app-medal-region-chart></app-medal-region-chart>
            </div>
        </div>
    </div>

-->
</div>
