path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}



.float{
	position:relative;
	width:30px;
	height:30px;
	bottom:40px;
	right:10px;
  float: right;
  background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}