<div class="center" style="position: relative;">
    <div class="row">
        <div class="col-md-8">

            <mat-form-field class="search-full-width">
                <input type="text" placeholder="Select countries..." aria-label="Select Countries" matInput
                    [matAutocomplete]="auto_country" [formControl]="countryControl">
                <mat-hint class="mat-custom-light">Enter text to find countries</mat-hint>
            </mat-form-field>


            <mat-autocomplete #auto_country="matAutocomplete" [displayWith]="displayCountryFn.bind(this)">
                <mat-option>
                    <div>
                        <mat-checkbox [(ngModel)]="isEveryCountrySelected"
                            (click)="selectAllCountries(); $event.stopPropagation()">
                            Select all
                        </mat-checkbox>
                    </div>
                </mat-option>

                <mat-option *ngFor="let c of filteredCountries | async" [value]="selectedCountry">
                    <div (click)="optionCountryClicked($event, c)">
                        <mat-checkbox [checked]="c.isChecked" (change)="toggleSelectionCountry(c)"
                            (click)="$event.stopPropagation()">
                            {{ c.name }}
                        </mat-checkbox>
                    </div>
                </mat-option>
            </mat-autocomplete>
            <br>



            <mat-form-field class="search-full-width">
                <input type="text" placeholder="Select sports..." aria-label="Select Sports" matInput
                    [matAutocomplete]="auto_sport" [formControl]="sportControl">
                <mat-hint class="mat-custom-light">Enter text to find sports by name</mat-hint>
            </mat-form-field>

            <mat-autocomplete #auto_sport="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option>
                    <div>
                        <mat-checkbox [(ngModel)]="isEverySportSelected"
                            (click)="selectAllSports(); $event.stopPropagation()">
                            Select all
                        </mat-checkbox>
                    </div>
                </mat-option>

                <mat-option *ngFor="let sport of filteredSports | async" [value]="selectedSports">
                    <div (click)="optionClicked($event, sport)">
                        <mat-checkbox [checked]="sport.isChecked" (change)="toggleSelection(sport)"
                            (click)="$event.stopPropagation()">
                            {{ sport.name }}
                        </mat-checkbox>
                    </div>
                </mat-option>
            </mat-autocomplete>

            <div class="row pt-2">
                <div class="custom-ngx-slider2">
                    <ngx-slider [(value)]="yearRange[0]" [(highValue)]="yearRange[1]" [options]="sliderOptions2"
                        ></ngx-slider>
                </div>
            </div>

        </div>
       

        <div class="col-md-4">

            <div class="row pt-2">
                <div>
                    <mat-slide-toggle [(ngModel)]="isSummer" (change)=updateSeason($event)>Summer &nbsp;
                    </mat-slide-toggle>

                    <mat-slide-toggle [(ngModel)]="isWinter" (change)=updateSeason($event)>Winter
                    </mat-slide-toggle>                 

                </div>                
            </div>
            <div class="row">
                <mat-slide-toggle [(ngModel)]="isMaleChecked">
                    Male</mat-slide-toggle>

                <mat-slide-toggle [(ngModel)]="isFemaleChecked">
                    Female</mat-slide-toggle>
                <br>
            </div>
            <div class="row">
                <mat-slide-toggle [(ngModel)]="showoutliers">
                    Outliers</mat-slide-toggle>
                <br>
            </div>


            <button *ngIf="!isTradition" type="button" [disabled]="!actionsEnabled" class="btn btn-primary"
                (click)="submit()" style="background-color:#ff4081; border-color:#ff4081">Update</button>
        </div>
    </div>

    <div class="row" *ngIf="isTradition">
        <div class="col-md-4">
            <mat-form-field appearance="fill" style="width: 18vh;">
                <input (keypress)="numberOnlyInteger($event, traditionCountriesNumber, 0, 25)"
                    [(ngModel)]="traditionCountriesNumber" [ngModelOptions]="{standalone: true}" type="text" matInput
                    placeholder="Countries shown...">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill" style="width: 18vh;">
                <input (keypress)="numberOnlyInteger($event, traditionPastWeight, 0, 100)"
                    [(ngModel)]="traditionPastWeight" [ngModelOptions]="{standalone: true}" type="text" matInput
                    placeholder="Past weight ...">
            </mat-form-field>

        </div>
        <div class="col-md-4">
            <button type="button" [disabled]="!actionsEnabled" class="btn btn-primary" (click)="submit()"
                style="background-color:#ff4081; border-color:#ff4081">Update</button>
        </div>
    </div>
</div>
