
::ng-deep {
    .custom-ngx-slider2 .ngx-slider .ngx-slider-bar {
      background: #ff408164;
      height: 5px;
    }
    .custom-ngx-slider2 .ngx-slider .ngx-slider-selection {
      background:#ff4081;
    }
  
    .custom-ngx-slider2 .ngx-slider .ngx-slider-pointer {
      background-color: #ff4081;
    }

    
    .ngx-slider .ngx-slider-pointer.ngx-slider-active::after {
      background-color: white!important;
    }


    .custom-ngx-slider2 .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: #ff408110;
    }
  
    .custom-ngx-slider2 .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: #ff408190;
    }
  }
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #ff4081 !important;;
  }