<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<br>
<div class="container bootdey">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4 text-light">About this project</h4>
                <p class="text-light para-desc mx-auto mb-0">This dashboard has beed developed in the context of the
                    "Visual Analytics" course, in the Engineering in Computer Science Master Degree</p>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4 text-light">Documentation</h4>
                <p class="text-light para-desc mx-auto mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat, turpis non tincidunt placerat, metus tortor tincidunt massa, a lacinia augue nibh at lacus. Nullam ut turpis cursus, condimentum magna quis, pellentesque tortor. Quisque sagittis ultrices ligula in auctor. Sed nibh velit, tincidunt quis porta a, vestibulum in sapien. Suspendisse rhoncus hendrerit scelerisque. Praesent cursus urna ante.
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-12 mt-4 pt-2">
            <div class="team text-center rounded p-3 py-4">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    class="img-fluid avatar avatar-medium shadow rounded-pill " style="height: 200px;" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">Stefano Foti</h4>
                    <small class="text-muted">Founder</small>
                    <ul class="list-unstyled mt-3 social-icon social mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    class="mdi mdi-github" title="Google +"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                    </ul>
                    <!--end icon-->
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-md-6 col-12 mt-4 pt-2">
            <div class="team text-center rounded p-3 py-4">
                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" style="height: 200px;"
                    class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">Marco Ferraro</h4>
                    <small class="text-muted">Founder</small>
                    <ul class="list-unstyled mt-3 social-icon social mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    class="mdi mdi-github" title="Google +"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                    class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                    </ul>
                    <!--end icon-->
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>