<div class="container-fluid">
    <div class="row autoHeight heightLine1">
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="rounded items-bg">
                    <app-perf-chart></app-perf-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="rounded items-bg">
                    <app-econ-chart></app-econ-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="rounded items-bg">
                        <app-analytics-conf></app-analytics-conf>
                    </div>    
                </div>
                <div class="col-md-12">
                    <div style="background-color: #607f97!important" class="rounded bg-light">
                        <app-analytics-map></app-analytics-map>
                    </div>
        
                </div>
    
            </div>
        </div>